/* Pour tous les blocs, on utilise une classe .bloc*/
.bloc {
    width: 500px;
    height: 200px;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

/*On utilise les ID différents pour donner des comportements spécifiques à un bloc */
#bloc1{
    background-color: aquamarine;
}
#bloc2{
    background-color: bisque;
}
#bloc3{
    background-color: blue;
}
#bloc4{
    background-color: blueviolet;
}